.nav-ico{
    display: flex;
    margin: auto;
    margin-bottom: 5px;
}
@media screen and (min-width: 769px) {
    body{
        padding: 86px;
    }
}
@media screen and (max-width: 768px) {
    body{
        padding-top: 171px;
    }
}
#hero-img{
    border-radius: 10px;
}