/* 
Author: Ryan Angaangan
Student ID: 000783037
Date: October 1, 2024
Course: CPRG 210 - Web Application Development
Assignment: HTML, CSS, JavaScript
*/

/* Changes amount of top padding dependiing on the size of the viewport  */
@media screen and (min-width: 769px) {
    body{
        padding-top: 86px;
    }
}
@media screen and (max-width: 768px) {
    body{
        padding-top: 171px;
    }
}

/* Increase the size of the shadow on card text */
.text-shadow-1 {
    text-shadow: 2px 2px 10px black;
}

/* By default, hide form descriptions when page is loaded */
#first-description {
    display: none;
}
#last-description {
    display: none;
}
#email-description {
    display: none;
}
#phone-description {
    display: none;
}
#password-description {
    display: none;
}
#address-description {
    display: none;
}
#city-description {
    display: none;
}
#postal-description {
    display: none;
}